@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
    --alt-font: "Plus Jakarta Sans", sans-serif;
    --primary-font: "Inter", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blog-header {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 4.5%;
    background-color:rgba(217,46,10,255);
}
.logo{
    cursor: pointer;
}
.logo:hover{
    opacity: 0.5;
}

.nav-links
{
    list-style: none;
    cursor: pointer;
}
.nav-item{
    display: inline-block;
    padding: 0px 1.2rem;
    font-size: 1.1rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.nav-item:hover{
    color: rgba(255,255,255,0.5);

}
button
{
    font-family: var(--alt-font);
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(255,255,255,1);
    text-transform: none;
    width: auto;
    height: auto;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 50px;
    box-shadow: none;
    transition: all 0.3s ease-in-out 0s;
}
button:hover{
    color: rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,1);
    color: black;
}
